html, body { 
  --color-1: #a8e6cf;
  --color-2: #dcedc1; 
  --color-3: #ffd3b6; 
  --color-4: #ffaaa5; 
  --color-5: #ff8b94;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, var(--color-1), var(--color-2));
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  padding-top: 50px;
}
.container {
  background-color: white;
  box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}

.scores {
  width: 100%;
    display: flex;
    justify-content: space-around;

}
.dice {
  width: 100px;
  height: 100px;
  background-color: var(--color-3);
  font-size: 80px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  
}
button{
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 30px;
  margin: 40px auto;

}

#rollBtn {
  background-color: var(--color-5);

}
#resetBtn {
  background-color: var(--color-4);
  display: none;
}
.active {
  box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}





